
<%= @answer %>
<br>
<p class="fst-italic">-you</p>
<br>
<div class="bg-warning p-2 text-dark bg-opacity-10 border-start border-4">
  <%= @coach_answer %>
  <br>
  <p class="fst-italic">-your coach</p>
</div>
<br>
<%= link_to "Ask a new question", ask_path %>
